/* ==========================================================================
  CSS from slashworks
   ========================================================================== */

/**
 * @author Stefan Melz @ slashworks stefan@slash-works.de
 * @description provides global helper classes for basic element styling and positioning
 *
 * Table of contents
 * -----------------------------------------
 * 1. Global Helper Styles
 */



/* 1. Global Helper Styles
   ========================================================================== */

.centerize {
    margin: 0 auto;
}

.stretch {
    width: 100%;
    float: left;
}

.invisible{
    width: 0;
    height: 0;
    left: -1000px;
    top: -1000px;
    position: absolute;
    overflow: hidden;
    display: inline;
}